<html>
    
    <%- include('./partials/head.ejs') %>

    <body>
        
        <%- include('./partials/header.ejs') %>

        <div class="container">
            <main role="main" class="pb-3">
                <!-- Content Here -->                
            </main>
        </div>
    
        <%- include('./partials/footer.ejs') %>

        <%- include('./partials/scripts.ejs') %>
        
    </body>
</html>